INTEGRATION_MODE=mock
STORE_PUBLIC_URL=
DOKU_BASE_URL=https://api-sandbox.doku.com
DOKU_CLIENT_ID=
DOKU_SECRET_KEY=
DOKU_NOTIFICATION_TOKEN=
MABANG_BASE_URL=
MABANG_APP_KEY=
MABANG_APP_SECRET=
MABANG_ORDER_ENDPOINT=
MABANG_WEBHOOK_TOKEN=
